body {
	margin: 0;
	font-family: arial, arial black, verdana, hrlvetica;
	background: #b3b3b3;
}
h1 {
	text-align: center;
}
.header {
	background-color: #4d4d4d;
	text-align: center;
	padding: 10px;
}
.header img{
	width: 13%;
	min-width: 150px;
	height: auto;
}
.header h1{
	margin: 0px;
	font-family: arial black, verdana, hrlvetica;
	font-size: 45px;
}
#menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #333;
}
#menu li {
	display: inline-block;
}
li a {
	display: block;
	padding: 10px 25px;
	font-size: 25px;
	color: #f2f2f2;
	text-decoration: none;
}
li:hover a {
	background-color: #ddd;
 	color: black;
}
.show-menu {
	text-decoration: none;
	color: #f2f2f2;
	background-color: #333;
	text-align: center;
	padding: 10px;
	font-size: 25px;
	display: none;
}
input[type = checkbox] {
	display: none;
}
input[type = checkbox]:checked ~ #menu {
	display: block;
}
#main{
	display: block;
	margin: 20px auto;
	width: 60%;
	height: auto;
}
p {
	text-align: justify;
	margin: 20px auto;
	width: 60%;
}
#container {
	display: block;
    width: 60%;
    margin: 10px auto;
}
#first {
    width: 48%;
    float: left;
    height: auto;
 	background-color: #999999;
    margin-bottom: 20px;
    animation-name: change;
    animation-duration: 5s;
}
#first p {
    width: 90%;
}
#second {
    width: 48%;
    float: right;
    height: auto;
    background-color: #999999;
    margin-bottom: 20px;
    animation-name: change;
    animation-duration: 5s;
}
#second p {
    width: 90%;
}
#botpic {
	display: block;
	margin: 20px auto;
	width: 60%;
}
#center {
	text-align: center;
}
.pic {
	text-align: center;
}
.pic img {
	width: 20%;
	height: 250px;
	margin: 20px;
}

.kontakt {
	text-align: center;
	margin: 10px;
}
.kontakt textarea {
	display: block;
	margin: 10px;
	margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 100px;
}
 .kontakt input[type="text"] {
	display: block;
	margin: 10px auto;
}
.kontakt input[type="submit"] {
	display: block;
	margin: 10px auto;
	font-weight: bold;
	width: 150px;
	height: 30px;
}
.kontakt input[type="submit"]:hover {
	padding: 5px 10px;
	box-shadow: 5px 5px grey;
}
.footer {
 	display: block;
	background-color: #4d4d4d;
	padding: 5px;
 	color: white;
}
@keyframes change{
	0%{background-color: #999999}
	50%{background-color: #58a7a3}
	100%{background-color: #999999}
}
@media screen and (max-width: 600px) {
	#menu {
		position: static;
		display: none;
	}
	#menu li, li a {
		width: 100%;
		padding: 3px 0px;
	}
	.show-menu {
		display: block;
	}
	.pic img {
		width: 80%;
		height: 250px;
		margin: 20px;
	}
}